body {
  font-family: courier;
  background-image: url("Background.jpeg");
  background-size: cover;
}

.textContainer{

}

.imageContainer{

}

.mainContainer{
  display: flex;
  background-color: Pink;
  padding:150px;
  justify-content: center;
}

h1 {
  color: Blue;
}
#para1{
  color: DarkOliveGreen;
}
#para2{
  color: DarkRed;
}
#para3{
  color: DeepPink;
}
}
